<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${meetup}">

    <div class="form-group">
        <label th:for="date">Date (MM/DD/YYYY)</label>
        <input class="form-control" name="date" />
        <span th:text="${dateError}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="time">Time</label>
        <select name="hour">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        :
        <select name="minute">
            <option value="00">00</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
        </select>
        <select th:field="*{ampm}">
            <option value="AM">AM</option>
            <option value="PM">PM</option>
        </select>
        <span th:text="${timeError}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="location">Location</label>
        <select th:field="*{location}">
            <option value="Cedar Bluff">Cedar Bluff</option>
            <option value="Elephant Rocks State Park">Elephant Rocks State Park</option>
            <option value="Holy Boulders">Holy Boulders</option>
            <option value="Jackson Falls">Jackson Falls</option>
            <option value="Pere Marquette State Park">Pere Marquette State Park</option>
            <option value="St. Francois State Park">St. Francois State Park</option>
            <option value="Silver Mines">Silver Mines</option>
            <option value="Climb So Ill">Climb So Ill</option>
            <option value="Upper Limits - Downtown">Upper Limits - Downtown</option>
            <option value="Upper Limits - Maryland Heights">Upper Limits - Maryland Heights</option>
            <option value="Upper Limits - Chesterfield">Upper Limits - Chesterfield</option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>

    <input type="submit" value="Create Meetup" class="btn btn-primary" />

</form>

</body>
</html>