<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<h2>Meetups I've Organized</h2>
<span th:unless="${meetupsOrganized} and ${meetupsOrganized.size()}"><h5>You haven't organized any meetups yet!</h5>
    <h5><a href="/calendar/create" class="btn btn-primary">Create your own meetups!</a></h5></span>
<table class="table table-sm table-bordered"  th:each="meetup : ${meetupsOrganized}">
    <tr><td class="left-column"><strong>Location: </strong></td><td th:text="${meetup.location}"></td></tr>
    <tr><td class="left-column"><strong>Date: </strong></td><td th:text="${meetup.date.getMonthValue()} + '/' + ${meetup.date.getDayOfMonth()} + '/' + ${meetup.date.getYear()}"></td></tr>
    <tr><td class="left-column"><strong>Time: </strong></td><td th:text="${meetup.time} + ' ' + ${meetup.ampm}"></td></tr>
    <tr><td class="left-column"><strong>Description: </strong></td><td th:text="${meetup.description}"></td></tr>
    <tr><td class="left-column"><strong>Organizer: </strong></td><td th:text="${meetup.organizer}"></td></tr>
    <tr><td class="left-column"><strong>Attending: </strong></td><td><span th:each="attendee : ${meetup.attendees}"><span th:text="${attendee} + ' '"></span></span></td></tr>
    <tr><td colspan="2"><a th:href="'/calendar/mymeetups/edit/' + ${meetup.id}">Edit Meetup</a></td></tr>
</table>

<h2>Meetups I'm Attending</h2>
<span th:unless="${meetupsAttending} and ${meetupsAttending.size()}"><h5>You aren't attending any meetups yet!</h5>
    <h5><a href="/calendar" class="btn btn-primary">Sign up for meetups!</a></h5></span>
<table class="table table-sm table-bordered"  th:each="meetup : ${meetupsAttending}">
    <tr><td class="left-column"><strong>Location: </strong></td><td th:text="${meetup.location}"></td></tr>
    <tr><td class="left-column"><strong>Date: </strong></td><td th:text="${meetup.date.getMonthValue()} + '/' + ${meetup.date.getDayOfMonth()} + '/' + ${meetup.date.getYear()}"></td></tr>
    <tr><td class="left-column"><strong>Time: </strong></td><td th:text="${meetup.time} + ' ' + ${meetup.ampm}"></td></tr>
    <tr><td class="left-column"><strong>Description: </strong></td><td th:text="${meetup.description}"></td></tr>
    <tr><td class="left-column"><strong>Organizer: </strong></td><td th:text="${meetup.organizer}"></td></tr>
    <tr><td class="left-column"><strong>Attending: </strong></td><td><span th:each="attendee : ${meetup.attendees}"><span th:text="${attendee} + ' '"></span></span></td></tr>
    <tr><td colspan="2"><a th:href="'/calendar/mymeetups/removeme/' + ${meetup.id}">Remove Me</a></td></tr>
</table>

</body>
</html>