<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>



<div th:if="${param.logout}" class="error">
    You have been logged out.
</div>
    <form th:action="@{/}" method="post">
        <div><label> Email : <input type="text" name="email"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div th:if="${param.error}" class="error">Invalid email address and/or password</div>
        <div><input type="submit" value="Sign In" class="btn btn-primary"/></div>
    </form>
<div>Not a member? <a href="/register">Register here!</a></div>
</body>
</html>