<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>

<form method="post" style="max-width:600px;" th:object="${climber}">
    <div class="form-group">
        <label th:for="firstName">First Name</label>
        <input class="form-control" th:field="*{firstName}" />
        <span th:errors="*{firstName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="lastName">Last Name</label>
        <input class="form-control" th:field="*{lastName}" />
        <span th:errors="*{lastName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="email">Email Address</label>
        <input class="form-control" th:field="*{email}" />
        <span th:errors="*{email}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="age">Age</label>
        <select th:field="*{age}">
            <option th:each="age : ${possibleAges}"
                    th:text="${age}"
                    th:value="${age}"></option>
        </select>
    </div>

    <div class="form-group">
        <div>
            <label>Select outdoor styles of climbing you are interested in:</label>
            Trad <input type="checkbox" name="climbingType" value="Trad" />
            Sport <input type="checkbox" name="climbingType" value="Sport - Outdoor" />
            Bouldering <input type="checkbox" name="climbingType" value="Bouldering - Outdoor" />
        </div>
        <div>
            <label>Select indoor styles of climbing you are interested in:</label>
            Sport <input type="checkbox" name="climbingType" value="Sport - Indoor" />
            Bouldering <input type="checkbox" name="climbingType" value="Bouldering - Indoor" />
        </div>
    </div>

    <input type="submit" value="Register" />
</form>

<div>Already a member? <a href="/">Login here!</a></div>

</body>
</html>